DB_USER=postgres
DB_HOST=localhost
DB_DATABASE=recrutamento_pcd
DB_PASSWORD=sua_senha
DB_PORT=5432
JWT_SECRET=sua_chave_secreta_longa_aqui
EMAIL_USER=seu@gmail.com
EMAIL_PASS=sua_senha_de_app_gmail
PORT=3000
